<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testingConsept Application Test Automation Test Suite">

	<!-- <listeners>
		<listener class-name="com.extendReport.ExtendsReport"/>
	</listeners>
 -->

	<test name="Testing Consept App Test Cases">
		<classes>
					<class name="com.tests.LoginTest"></class>
		
		

		</classes>
	</test>
</suite>